@using Microsoft.AspNet.Identity
@model WebApplication1.Models.IndexViewModel
@{
    ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>View your profile details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>
            @Model.Username
        </dd>
        <dt>Rank:</dt>
        <dd>
            @Model.EmployeeRank
        </dd>
        <dt>Favourite Colour:</dt>
        <dd>
            @Model.FavouriteColour
        </dd>
    </dl>
</div>
